<h1>Play the awesome words game!</h1>

<h2>Here is your grid....</h2>
<p><%= @grid %></p>

<h2>What is your longest word?</h2>
<form action="/score">
  <input type="text" id="answer" name="answer" placeholder="Enter word">
  <input type="Submit" value="Submit word!">
  <input type="hidden" name="start_time" value="<%=Time.now %>">
</form>
